.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9F9F9;
  position: relative;
  overflow: hidden;
}

.error-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  color: var(--color-footer);
}

.error-text :nth-child(1) {
  font-size: 8em;
  font-weight: 900;
  letter-spacing: 4px;
  -webkit-font-smoothing: antialiased; /* For smoother font rendering on WebKit/Blink browsers */
}

.error-text :nth-child(2) {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  -webkit-font-smoothing: antialiased; /* For smoother font rendering on WebKit/Blink browsers */
}

.error-text span img {
  width: 60px;
  color: var(--color-footer);
}
.item-head {
  width: 100%;
  height: 60px;
  background: var(--color-gradient);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative; /* WebKit/Blink browsers */
}