
.item-head {
 width: 100%;
  height: 60px;
  background: var(--color-gradient-slogan);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed; /* Change to fixed when scrolled */
  top: 0; /* Adjust the positioning as needed */
  left: 0;
  right: 0;
  z-index: 1002; /* Adjust the z-index as needed */
}
#uniqueItemId {
  display: none;
}

#uniqueItemId.scrolled {
  width: 100%;
  height: 60px;
  background: var(--color-gradient-slogan);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed; /* Change to fixed when scrolled */
  top: 0; /* Adjust the positioning as needed */
  left: 0;
  right: 0;
  z-index: 1002; /* Adjust the z-index as needed */
}
#uniqueItemId h2 {
     font-size: 28px;
    font-weight: 400;
}




.coup-wrapper h2 {
  text-transform: uppercase;
  text-align: center;
  color: var(--color-black);
  font-size: 22px;
  font-weight: 400;
}

.item-head h2 {
  font-size: 28px;
  font-weight: 400;
}

.item-wrapper {
  height: 448px;
  position: relative;
  width: 100%;
}

.item-wrapper .img-text {
  position: absolute;
  width: 95%;
  height: auto;
  border-radius: 14px;
  background: linear-gradient(
    178.2deg,
    rgba(2, 45, 58, 0.746667) -49.66%,
    rgba(1, 57, 74, 0.746667) 98.48%
  );
  color: white;
  top: 115%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  padding: 28px;
}

.img-text p {
  font-weight: bold;
  text-align: justify;
  font-size: 1rem;
}

.coup-coeur {
  position: absolute;
  top: 950px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: auto;
}

.coup-coeur h3 {
  font-size: 1.5rem;
  line-height: 40px;
  text-transform: uppercase;
}

.lieu-item {
  position: relative;
  margin-bottom: 40px;
}

.underline {
  right: -34px;
  width: 700px;
  height: 4px;
  position: relative;
  float: right;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    180deg,
    rgba(142, 225, 239, 0.64) 0%,
    rgba(255, 207, 13, 0.8) 100%
  ); /* WebKit/Blink browsers */
  border-radius: 0px;
}

.historic-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  margin: auto;
  padding: 5px;
  margin-top: 56px;
  gap: 20px;
}

.historic-text h4 {
  color: rgba(38, 129, 158, 0.8);
  font-size: 32px;
}

.historic-text p {
  line-height: 35px;
  font-size: 16px;
  font-weight: 600;
}

.return-icon {
  color: var(--color-secondary);
  width: 38px;
  height: 38px;
  cursor: pointer;
}

.return-icon-transparent {
  opacity: 0;
  width: 36px;
  height: 36px;
}

@media screen and (max-width: 425px) {
  .img-text p {
    font-size: 14px;
  }

  .coup-coeur h3 {
    font-size: 12px;
    line-height: 25px;
  }

  .underline {
    right: -34px;
    width: 300px;
    height: 4px;
    position: relative;
    top: -20px;
    float: right;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(
      180deg,
      rgba(142, 225, 239, 0.64) 0%,
      rgba(255, 207, 13, 0.8) 100%
    ); /* WebKit/Blink browsers */
    border-radius: 0px;
  }

  .circle {
    position: relative;
    top: 40px;
    height: 100px;
    width: 200px;
    border-radius: 150px 150px 0 0;
    background: linear-gradient(180deg, #ffcf0d 0%, rgba(254, 216, 60, 0) 100%);
    transform: rotate(270deg);
    float: right;
    right: -100px;
  }

  .historic-text h4 {
    margin-top: 40px;
    font-size: 16px;
  }

  .historic-text p {
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
  }
}

.audio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  gap: 80px;
  margin-top: 30px;
}

.audio .audio-icons {
  width: 32px;
  height: 32px;
}

.custom-audio-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
}

.audio-progress-bar {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  height: 8px;
}

.texts-wrapper {
  color: #333;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  line-height: 26px;
  font-size: 14px;
  text-align: justify;

}
.texts-wrapper p {
  line-height: 38px;
  opacity: 1;
}
.collapseWrapper {
  background-color: #f0f0f0;
  padding: 25px 0;
}
.map-section{
  margin: 20px ;

}
#direction{
  padding-bottom: 0px;
}