
.internet-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  color: var(--color-footer);
}

.internet-text p {
  width: 90%;
  margin: auto;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 40px;
  margin-top: 40px;
  line-height: 40px;
}
.internet-text span img {
  width: 80px;
  color: var(--color-footer);
}

.connexion {
  border: none;
  padding: 14px 22px;
  background-color: var(--color-primary);
  color: white;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 16px;
}

.logo-header {
  text-align: center;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6); /* Add box shadow here */
}
.logo-header img {
  width: 4rem;
}
