.weather-container {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  padding: 15px;
  background-color: white;
  margin:  10px auto;
  max-width: 1024px;
  margin-top: 40px;
}

.data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.weather-data {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.weather-icon {
  width: 60px;
  height: 60px;
  color: var(--color-primary);
}

.weather-location h4 {
  font-size: 20px;
}
.weather-location p {
  font-size: 14px;
  padding: 10px;
  padding-left: 0;
color:  #5d5d5d;
}
.weather-value {
  font-size: 14px;
  padding: 10px;
  padding-left: 0;
  color: #5d5d5d;
}
.weather-widget {
  width: 95%;
  margin: auto;
}