.collapse-wrapper {
  width: 95%;
  height: auto;
  margin: 30px auto;
  border-radius: 5px;
}

.dropDownshowen {
  background-color: var(--color-red);
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  height: 30px;
  padding: 0 12px;
}

.dropDownshowen h2 {
  font-size: 13px;
  font-weight: 500;
}

.contentWrapper {
  font-size: 13px;
  font-weight: 500;
  height: auto;
  overflow: hidden;
 
  border-radius: 5px 0px;
  padding: 14px;
  line-height: 24px;
    -webkit-animation: fadeIn 0.3s ease-in-out;
            animation: fadeIn 0.3s ease-in-out;
            color: #545454;

}


.contentWrapper.fadeOut {
  -webkit-animation: fadeOut 1s ease-out;
          animation: fadeOut 1s ease-out;
}

/* Animation for toggling (expanding) content */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation for untoggling (collapsing) content */
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}
