.navbar__bg {
  background: var(--color-gradient-reversed);
  position: fixed;
  width: 100%;
  z-index: 1000;
  text-align: center;
  bottom: 0;
  max-width: 1024px;
  margin: auto;
  margin-top: 40px;
}

.navbar-item a {
  text-decoration: none;
  color: white;

  font-size: 16px;
  transition: 0.4s ease-in-out;
}

.logo {
  width: 49px;
  height: auto;
  object-fit: cover;

  object-position: center;
}
.navbar-item:hover a {
  cursor: pointer;
  transition: color 0.3s ease;
  color: var(--color-secondary);
}

.navbar-menu {
  list-style: none;
  display: flex;
  position: relative;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  z-index: 2;
  position: relative;
  padding: 14px 16px;
}
.closed-icone {
  width: 52px;
  height: 52px;
  color: var(--color-secondary);
}
.navbar-menu {
  display: none;
}
.menu__icone {
  cursor: pointer;
  width: 49px;
  height: 48px;
  
}
.toggle-menu {
  display: block;
}
.contact {
  display: none;
}

.menu-item {
  list-style: none;

}
.link.active{
  color: var(--color-secondary);
}
.icons {
  width: 30px;
  height: 30px;
  text-align: center;
}
.fav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 10px;
}
.fav-icons {
  width: 20px;
  height: 20px;
}
.link {
  color: white;
}
.link p {
  font-size: 14px;
}
.open-button {
  display: block;
  background-color: #9e9e9ef7;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  opacity: 1;
  height: auto;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  bottom: 306px;
  color: white;
  padding: 25px 16px;
  border-radius: 0px;
}
.open-button a {
  font-size: 18px;
  animation: appear 0.3 ease-in-out;
}
.open-button:hover {
  color: black;
  background-color: var(--color-secondary);
  cursor: pointer;
}
.navbar-menu.open {
  display: block;
  background-color: var(--color-primary);
  position: fixed;

  text-align: center;
  left: 0;
  bottom: 80px;
  opacity: 1;
  height: auto;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  width: 768px;
  left: calc(50% - 384px);
}

.navbar-item {
  font-size: 18px;
  padding: 25px 16px;
  border: 2px solid transparent;
  border-bottom-color: var(--color-secondary);
}
.navbar-menu.open .navbar-item a {
  font-size: 18px;
  animation: appear 0.3 ease-in-out;
}
@keyframes colorChange {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
.break {
  margin-top: 80px;
}
