.navbar__bg {
  /* background: var(--color-gradient-reversed); */
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 1024px;
  margin: auto;
  margin-top: 40px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6); /* Add box shadow here */
}

.navbar-item a {
  text-decoration: none;
  color: white;

  font-size: 16px;
  transition: 0.4s ease-in-out;
}

.logo {
  width: 49px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;

  -o-object-position: center;

  object-position: center;
}
.navbar-item:hover a {
  cursor: pointer;
  transition: color 0.3s ease;
  color: var(--color-secondary);
}

.navbar-menu {
  list-style: none;
  display: flex;
  position: relative;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  z-index: 2;
  position: relative;
  padding: 14px 32px;
}
.closed-icone {
  width: 52px;
  height: 52px;
  color: var(--color-footer);
}
.navbar-menu {
  display: none;
}
.menu__icone {
  cursor: pointer;
  width: 49px;
  height: 48px;
}
.toggle-menu {
  display: block;
  color: var(--color-primary);
}
.contact {
  display: none;
}

.menu-item {
  list-style: none;
}
.link.active {
  color: var(--color-footer);
}
.icons {
  width: 36px;
  height: 36px;
  text-align: center;
}
.fav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 10px;
}
.fav-icons {
  width: 20px;
  height: 20px;
}
.link {
  color: rgb(151 151 151);
}
.link p {
  font-size: 14px;
  font-weight: 500;
}
.open-button {
  display: block;
  background-color: #9e9e9ef7;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  opacity: 1;
  height: auto;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  bottom: 306px;
  color: white;
  padding: 25px 16px;
  border-radius: 0px;
}
.open-button a {
  font-size: 18px;
  -webkit-animation: appear 0.3 ease-in-out;
  animation: appear 0.3 ease-in-out;
}
.open-button:hover {
  color: black;
  background-color: var(--color-secondary);
  cursor: pointer;
}
.navbar-menu.open {
  background-color: rgba(38, 129, 158, 0.92);
  display: block;
  position: fixed;
  text-align: center;
  left: 0;
  bottom: 90px;
  opacity: 1;
  height: auto;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  width: 70%;
  margin: auto;
  left: 0;

  right: 0;
  box-shadow: 0 -2px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.navbar-menu.open .link {
  color: white;
}
.navbar-menu.open .link .spesific {
border-bottom: 1px solid;
border-top: 1px solid;}

.navbar-item {
  font-size: 18px;
  padding: 25px 16px;
  border: 2px solid transparent;
}
.navbar-menu.open .navbar-item a {
  font-size: 18px;
  -webkit-animation: appear 0.3 ease-in-out;
  animation: appear 0.3 ease-in-out;
}
@-webkit-keyframes colorChange {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes colorChange {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
.break {
  margin-top: 90px;
}
@media screen and (max-width: 425px) {
  .icons {
    width: 24px;
    height: 24px;
  }
  .navbar {
    padding: 14px;
  }
  .link p {
    font-size: 10px;
    font-weight: 500;
  }
}
