* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-crimson);
  font-family: var(--font-alt);
  height: fit-content;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1024px;
  margin: auto;
  overflow: hidden;
}
@media screen and (max-width: 425px) {
  .container {
    padding: 0px 6px;
  }
}
/* Apply styles when the device is in portrait mode */
@media screen and (orientation: portrait) {
  body {
    /* Your portrait mode styles */
  }
}

/* Apply styles when the device is in landscape mode */
@media screen and (orientation: landscape) {
  body {
    max-width: 425px;
  margin: auto;
    
  }
}

/* Apply additional styles for the entire app when in landscape mode */
body.landscape-mode {
  /* Add any common styles you want to apply in landscape mode */
}
