* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-crimson);
  font-family: var(--font-alt);
  max-width: 768px;
  margin: auto;
}
a {
  text-decoration: none;
}
.container {
  max-width: 728px;
  margin: auto;
  overflow: hidden;
}
@media screen and (max-width: 425px) {
  .container {
    padding: 0px 6px;
  }
}
