* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-crimson);
  font-family: var(--font-alt);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1024px;
  margin: auto;
  overflow: hidden;
}
@media screen and (max-width: 425px) {
  .container {
    padding: 0px 6px;
  }
}
/* Apply styles when the device is in portrait mode */


/* Apply styles when the device is in landscape mode */
@media screen and (orientation: landscape) and (max-height: 425px) {
   body {
    max-width: 425px;
    margin: auto;
  } 
}
