@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --font-base: "Cormorant Upright", serif;
  --font-alt: "Open Sans", sans-serif;
  --color-golden: #dcca87;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-hover: #c2d500;
  --color-subtext: #ff8a71;
  --color-primary: rgb(28, 111, 143);
  --color-secondary: rgb(251, 199, 17);
}
