.custom-marker {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: contain !important;
  object-fit: contain !important;
}
.leaflet-container {
  height: -webkit-fit-content !important;

  height: -moz-fit-content !important;

  height: 100vh !important;
  background-color: white !important;
}
.img-wrapper {
  position: relative;
  width: 30px !important;
  height: 30px !important;
  border: 3px solid var(--color-primary);
  background: var(--color-secondary);
  -webkit-filter: drop-shadow(100%);
  filter: drop-shadow(100%);
  padding: 2px;
  border-radius: 50%;
}

.img-wrapper::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px 6px 0;
  border-style: solid;
  border-color: var(--color-primary) transparent transparent;
}

.map-button {
  position: absolute;
  top: 12vh;
  right: 2vw;
  z-index: 1000;
}

.map-button .button {
  background-color: var(--color-secondary);
  color: var(--color-black);
  padding: 20px 16px;
  border: none; /* No border */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 40px;
  transition: background-color 0.3s;
  font-weight: 500;
  position: relative;
}

.custom-marker-icon {
  background: none;
  border: none;
  padding: 0;
}


.scroll-to-top-icon,
.scroll-to-bottom-icon {
  /* Adjust this value to control the horizontal position */
  background-color: var(--color-primary); /* Background color of the icon container */
  color: #fff; /* Color of the icon */
  border: 1px solid #007bff; /* Border color */

  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid;
}

.scroll-to-top-icon:hover,
.scroll-to-bottom-icon:hover {
  background-color: #0056b3; /* Change background color on hover */
}

/* You can add transitions for a smoother effect */
.scroll-to-top-icon,
.scroll-to-bottom-icon {
  transition: background-color 0.3s, transform 0.3s;
}


.scrolling {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 20vh; /* Adjust this value to control the vertical position */
  right: 10px;
  z-index: 1001; /* Ensures the icons are on top of other elements */
  flex-direction: column;
  gap: 20px;}

.item-head {
  width: 100%;
  height: 60px;
  background: var(--color-gradient);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative; /* WebKit/Blink browsers */
}