


.banner-wrapper {
  height: 45vh;
  position: relative;
  width: 100%;
  background-image: url("../../assets/banner.jpg");
  background-position: center center, center top;
  background-repeat: repeat;
  background-size: cover;
}

.banner-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
}

.bannerHead {
  width: 100%;
  height: 60px;
  background: var(--color-gradient-slogan);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1002;
  transition: top 0.3s; /* Add a transition effect on the 'top' property */
}
.bannerhead.scrolled {
  top: -60px;
}

.bannerHead h1 {
  font-size: 24px;
  align-items: center;
  font-weight: 600;
  color: white;
}

.banner-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
}

.banner-slogan {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 70%; /* Fixed the duplicate property */
  z-index: 5;
  padding: 12px;
  text-align: center;
  border-radius: 12px;
  max-width: 1024px;
}



.banner-wrapper .banner-slogan p,span {
  background: var(--color-gradient-slogan); /* Use your gradient values or variable */
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 22px;
  z-index: 5;
  text-transform: uppercase;
  letter-spacing: 5px;
}



@media (max-width: 425px) {
  .banner-wrapper .banner-slogan p {
    font-size: 16px;
  }
  /* You can add specific styles for smaller screens if needed */
}
@media screen and (orientation: landscape) and (max-height: 425px)  {
   .bannerHead {
 max-width: 425px;
  
}
.banner-wrapper {
  height: 60vh;
 
} 
}
.banner-slogan p span {
  position: relative;
}
.telo:after{
  content: "";
width: 100%;
height: 16px;
background: rgb(255,223,51);
background: linear-gradient(180deg, rgba(255,223,51,1) 24%, rgba(238,180,17,1) 72%);
position: absolute;
right:0;
bottom: 2px;
z-index: -1;
}





