

.custom-marker {
width: 100% !important;
height: 100% !important;
object-fit: contain !important;

 
}
.leaflet-container {
  height: 100vh;

}
.img-wrapper{
  width: 50px !important;
  height: 50px !important;
  
  border: 3px solid #b7b7b7;
   background: var(--color-hover);
   filter: drop-shadow(100%); 
 
  padding: 2px;

 
}
